<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

	<div class="">
      <h2 class="text-center mt-3 mb-1">Políticas de privacidad</h2>
    </div>

	<div class="container mt-5">
       
        <h3 class="mb-3">Vivir Seguros</h3>

        <h3>1. Introducción</h3>
        <p>En Vivir Seguros, nos comprometemos a proteger su privacidad. Esta política de privacidad explica cómo recopilamos, usamos, divulgamos y protegemos su información personal.</p>

        <h3>2. Información que Recopilamos</h3>
        <h4>2.1 Información Personal</h4>
        <p>Podemos recopilar información personal como su nombre, dirección, número de teléfono, dirección de correo electrónico, información de pago y otros datos similares.</p>
        
        <h4>2.2 Información No Personal</h4>
        <p>También podemos recopilar información no personal, como datos demográficos y estadísticos, que no se pueden usar para identificarlo personalmente.</p>

        <h3>3. Uso de la Información</h3>
        <p>Utilizamos la información recopilada para los siguientes fines:</p>
        <ul>
            <li>Proveer y gestionar los servicios de seguros.</li>
            <li>Procesar pagos y transacciones.</li>
            <li>Comunicar información importante sobre su póliza.</li>
            <li>Mejorar nuestros servicios y la experiencia del cliente.</li>
        </ul>

        <h3>4. Divulgación de la Información</h3>
        <p>No vendemos ni alquilamos su información personal a terceros. Podemos divulgar su información a terceros de confianza para los siguientes fines:</p>
        <ul>
            <li>Procesamiento de pagos.</li>
            <li>Cumplimiento de obligaciones legales.</li>
            <li>Protección de nuestros derechos y propiedades.</li>
        </ul>

        <h3>5. Seguridad de la Información</h3>
        <p>Implementamos medidas de seguridad razonables para proteger su información personal contra acceso no autorizado, alteración, divulgación o destrucción.</p>

        <h3>6. Derechos del Usuario</h3>
        <p>Usted tiene derecho a acceder, corregir o eliminar su información personal que poseemos. Para ejercer estos derechos, puede contactarnos a través de los medios proporcionados en esta política.</p>

        <h3>7. Cambios a esta Política de Privacidad</h3>
        <p>Podemos actualizar esta política de privacidad periódicamente. Cualquier cambio será publicado en esta página con la fecha de la última actualización.</p>

        <h3>8. Contacto</h3>
        <p>Si tiene preguntas o inquietudes sobre nuestra política de privacidad, puede contactarnos a través del formulario de contacto].</p>
    </div>

	<footer th:replace="layout/layout :: footer">

    </footer>
    
</body>
