<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<main class="container">
        <h2 class="text-center mt-3">Seleccione la póliza afectada a la denuncia</h2>
        <div class="row my-4">
            <div class="col-md-4 mb-4" th:each="poliza : ${polizas}">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                    <div th:if="${poliza.insurance.toString()=='HOGAR'}"><img th:src="@{images/casa.png}"
                                                                              class="card-img-top mt-1"
                                                                              alt="Seguro de casa"></div>
                    <div th:if="${poliza.insurance.toString()=='AUTOMOTOR'}"><img th:src="@{images/auto.png}"
                                                                                  class="card-img-top mt-1"
                                                                                  alt="Seguro de auto"></div>
                    <div th:if="${poliza.insurance.toString()=='PERSONA'}"><img th:src="@{images/persona.png}"
                                                                                class="card-img-top mt-1"
                                                                                alt="Seguro personal"></div>
                        <h5 class="card-title text-center" th:text="'Vencimiento: ' + ${#dates.format(poliza.expiration, 'dd-MM-yyyy')}"></h5>
                        <p class="card-text text-center" th:text="'Número de póliza: ' + ${poliza.id}"></p>
                        
                        <a th:href="'denuncia/' + ${poliza.id}" class="btn btn-secondary d-block text-center" th:text="${poliza.coverage}"></a>
                    </div>
                </div>
            </div>
        </div>
    </main>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>