<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<main class="container">
    <h1 class="text-center mt-3">Seleccione la póliza afectada a la denuncia </h1>
	<div class="d-flex justify-content-center gap-3 flex-nowrap my-4">
	    <div th:each="poliza: ${polizas}">
	        <div class="card" style="width: 18rem;">
	            <div class="card-body  row">
	                <h5 class="card-title text-center" th:text="'Vencimiento: ' +  ${poliza.expiration}"></h5>
	                <p class="card-text mt-2" th:text="${poliza.insurance}"></p>
	                <p class="card-text" th:text="${poliza.customer}"></p>
	                <a th:href="'denuncia/' + ${poliza.id}" class="btn btn-secondary align-items: center" th:text="${poliza.coverage}"></a>
	            </div>
	        </div>
	    </div>
	</div>
</main>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>