<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
    <div class="container mt-3">
        <h2 class="text-center">Formulario de Denuncia de Siniestro Vehicular</h2>
        <form th:action="@{/submitForm}" th:object="${denuncia}" method="post" class="mt-4">
            <input type="hidden" th:field="*{policy.id}">
            
            <div class="mb-3">
                <label for="poliza" class="form-label">Número de póliza:</label>
                <input type="text" id="poliza" th:field="*{policy.id}" class="form-control" disabled>
            </div>
            <div class="mb-3">
                <label for="fechaSiniestro" class="form-label">Fecha del siniestro:</label>
                <input type="date" id="fechaSiniestro" th:field="*{accidentDate}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="horaSiniestro" class="form-label">Hora del siniestro:</label>
                <input type="time" id="horaSiniestro" th:field="*{accidentHour}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="direccion" class="form-label">Dirección del hecho:</label>
                <input type="text" id="direccion" th:field="*{adress}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="altura" class="form-label">Altura:</label>
                <input type="text" id="altura" th:field="*{adressNumber}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="codigoPostal" class="form-label">Código Postal:</label>
                <input type="text" id="codigoPostal" th:field="*{postalCode}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="descripcionHecho" class="form-label">Breve descripción del hecho:</label>
                <textarea id="descripcionHecho" th:field="*{description}" rows="3" class="form-control" required></textarea>
            </div>
            <div class="mb-3">
                <label for="tipoDano" class="form-label">Tipo de daño:</label>
                <select id="tipoDano" th:field="*{damageType}" class="form-select" required>
                    <option value="Leve">Leve</option>
                    <option value="Moderado">Moderado</option>
                    <option value="Grave">Grave</option>
                </select>
            </div>
            <h3 class="mt-4">Datos del Damnificado</h3>
            <div class="mb-3">
                <label for="damnificadoNombre" class="form-label">Nombre:</label>
                <input type="text" id="damnificadoNombre" th:field="*{victimFirstName}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="damnificadoApellido" class="form-label">Apellido:</label>
                <input type="text" id="damnificadoApellido" th:field="*{victimLastName}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="damnificadoTelefono" class="form-label">Teléfono:</label>
                <input type="text" id="damnificadoTelefono" th:field="*{victimPhone}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="damnificadoDni" class="form-label">DNI:</label>
                <input type="text" id="damnificadoDni" th:field="*{victimDocument}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="damnificadoEmail" class="form-label">Correo electrónico:</label>
                <input type="email" id="damnificadoEmail" th:field="*{victimEmail}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="damnificadoPatente" class="form-label">Patente:</label>
                <input type="text" id="damnificadoPatente" th:field="*{victimPatent}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="damnificadoDescripcionDanos" class="form-label">Descripción de los daños:</label>
                <textarea id="damnificadoDescripcionDanos" th:field="*{descriptionVictimDamage}" rows="3" class="form-control" required></textarea>
            </div>
            <div class="mt-2">
	            <button type="button" class="btn btn-secondary" onclick="cargarDocumentacion()">Cargar Documentación</button>
	            <button type="submit" class="btn btn-secondary">Finalizar</button>
<button type="button" class="btn btn-secondary" onclick="history.back()">Volver</button></div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function cargarDocumentacion() {
            alert("Documentación cargada");
        }
    </script>
    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>