<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>


<main class="container mt-3">
    <h2 class="text-center mb-2">Mis denuncias</h2>
    
    <div th:if="${denuncias.size() == 0}" class="alert alert-info text-center justify-content-center" role="alert">
   	<span>No hay denuncias registradas</span>
	</div>
    
	<div class="container mt-3">
        <div class="row">
            <div class="col-md-4 mb-4" th:each="denuncia: ${denuncias}">
                <div class="card h-100" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="'Tipo: ' + ${denuncia.policy.insurance.insuranceType}"></h5>
                        <p class="card-text" th:text="'Fecha: ' + ${denuncia.accidentDate}"></p>
                        <p class="card-text" th:text="'Hora: ' + ${denuncia.accidentHour}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-grid gap-2 col-4 mx-auto my-3">
	    <a th:href="@{/denuncia}" class="btn btn-secondary">Crear Denuncia</a>
	</div>
</main>
 

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>