
.vivirlogo {
	width:50px;
	height:50px;
}

.card-img-top{
	width:100px;
	height:100px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    font-size: 1.25rem;
}
.card-text {
    font-size: 1rem;
}
header{
	background-color:  #bccdf5 ;
    color: #042b53;
    font-style: italic;   
}

.button-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.relative-container{
    position: relative;
}

.saldo-negrita {
    font-weight: bold;
}
      
.collapse-text {
    white-space: normal; 
    word-wrap: break-word;
}

.bold-text {
    font-weight: bold;
}
        
.form-label {
    font-weight: bold;
}

html, body {
    height: 100%;
}
.container-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
}
.footer {
    background-color: #bccdf5; 
    padding: 1rem 0;   
}
.button-wrapper1 {
    text-align: center;
    margin: 2rem 0;
}

.saldo-recuadro {
    display: inline-flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ff0000;
    border-radius: 0.25rem;
    height: 38px;
    font-weight: bold;
}

.siniestro-color{
	color: #042b53;
	font-weight: bold;
}

.imagen-siniestro{
	width:100px;
	height:100px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.siniestro-titulo{
	font-style: italic;
	color: #042b53;
	text-align: center;
}

.contact-text{
	font-style: italic;
	color: #042b53;
}
.pago-text{
	font-style: italic;
	color: #042b53;
	background-color:white;
	border-radius: 0.25rem;
	padding:10px
}

.pago-title{
	text-align:center;
	margin-bottom:20px;
}
.pago{
	background-color: #bccdf5;
	padding:20px;
	border: 1px solid #042b53;
    border-radius: 0.25rem;
	padding:20px;
}

.border-contact{
	border: 1px solid #042b53;
    border-radius: 0.25rem;
}

.full-width-container {
            background-color: #bccdf5; 
            padding: 20px 0;
            width:100%;
        }
.custom-list {
            list-style-type: disc; 
            padding-left: 20px; 
            text-align: left;
        }
        
.container-custom {
  max-width: 1200px; /* Ajusta el ancho máximo del contenido */

        }
   
.container-quejas{
	background-color: #bccdf5;
	padding:20px;
	border: 1px solid #042b53;
    border-radius: 0.25rem;
}



.form-horizontal{
	background-color: #bccdf5;
	line-height: 1.5;
}
        
.color-contact {
	background-color: #bccdf5
}

.custom-list li {
            margin-bottom: 10px; /* Espaciado entre elementos de la lista */
        }        
.footer-column a:hover {
    text-decoration: underline;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.footer-logo img {
    height: 50px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin-left: 20px;
}

.footer-column {
    margin: 0 10px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column li {
    margin: 5px 0;
}

.footer-column a {
    text-decoration: none;
    color: inherit;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #042b53;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    z-index: 1000;
    transition: opacity 0.3s ease;
}

.back-to-top.show {
    display: block;
}

label.control-label {
    color: #042b53; 
}

.container-pago {
    margin: 20px auto;
    background-color: #bccdf5;
    padding: 15px;
    max-width: 800px;
    border: 1px solid #042b53;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.datos{
    background-color: #bccdf5;
    border: 1px solid #042b53;
    border-radius: 0.25rem;
}

.form-group {
    margin-bottom: 1.5rem;
    line-height: 1.5; 
}

label.col-form-label {
    color: #042b53; 
    white-space: nowrap; 
}


