<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
    <body>
    <header th:replace="layout/layout :: header"></header>
        <div class="container d-flex justify-content-center">
            <div class="col-sm-6 d-flex flex-column gap-3">
                <div class="card border-primary">
                </div>
                <div class="card border-primary">
                    <div class="card-body">
                        <h5 class="card-title">Nombre Anterior</h5>
                        <p class="card-text" th:text="${customer.name}"></p>
                        <div > ///
                            <label class="form-label" for="nombre" >Informe el nuevo nombre:</label>
                            <input class="form-control" type="metros" th:field="*{nombre}" id="nombre" name="metros" placeholder="Nuevo nombre" required><br>
                        </div>
                    </div>
                </div>
                <div class="card border-primary">
                    <div class="card-body">
                        <h5 class="card-title">Email Anterior</h5>
                        <p class="card-text" th:text="${customer.email}"></p>
                        <div > ///
                            <label class="form-label" for="email" >Informe el nuevo mail:</label>
                            <input class="form-control" type="email" th:field="*{email}" id="email" name="email" placeholder="Nuevo Mail" required><br>
                        </div>
                    </div>
                </div>

                <div class="card border-primary">
                    <div class="card-body">
                        <h5 class="card-title">Actualizar</h5>
                        <p class="card-text"></p>
                        <a th:href="@{/actualizar}" class="btn btn-primary">Ver</a>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="layout/layout :: footer"></footer>
    </body>
</html>