<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container">
    <div class="d-flex flex-column">

        <h2>Cotización</h2>

        <form th:action="@{/cotizar}" th:object="${policy}" method="post">
            <div class="d-flex flex-column gap-3">
                <div>
                    <label class="form-label" for="select1">Seleccione el nombre:</label>
                    <select class="form-select" id="select1" name="name">
                        <option>Seleccione la marca</option>
                        <option th:each="marca:${names}"
                                th:value="${marca}"
                                th:text="${marca}"></option>
                    </select>
                    <br>
                </div>

                <div>
                    <label class="form-label" for="select2">Seleccione el modelo:</label>
                    <select class="form-select" id="select2" name="model">
                        <option>Seleccione el modelo</option>
                        <option th:each="modelo:${models}"
                                th:value="${modelo}"
                                th:text="${modelo}"></option>
                    </select>
                    <br>
                </div>
                <!--                <label for="select3">Seleccione el año:</label>-->
                <!--                <select id="select3" name="year">-->
                <!--                    <option th:each="car:${listadoAuto}"-->
                <!--                            th:value="${car.id}"-->
                <!--                            th:text="${car.year}"></option>-->
                <!--                </select>-->
                <div>
                    <input class="form-control" type="number" th:field="*{coverage}" id="coverage" name="coverage" placeholder="Ingrese precio estimado" required><br>
                </div>
            <button type="submit" class="btn btn-primary">Cotizar</button>
            </div>
        </form>
        <span th:if="${error != null}" class="alert alert-danger" th:text="${error}"></span>
    </div>
</div>


<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>