<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>


<div class="container">
    <h2 class="text-center mb-3 fs-2" >Historial de quejas</h2>

    <table class="table table-striped">
        <thead>
        <tr class="text-center">
        	<th >Motivo</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Respuesta</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="complaint : ${complaints}">
        	<td th:text="${complaint.motivo}"></td>
            <td th:text="${complaint.date}"></td>
            <td th:text="${complaint.status}"></td>
            <td th:switch="${complaint.status.name()}">
                <a th:case="'CERRADO'" th:href="@{/historial_quejas/} + ${complaint.id}"><button type="button" class="btn btn-xs btn-success">Ver</button></a>
                <button th:case="'ENVIADO'" type="button" class="btn btn-xs btn-secondary" disabled>Ver</button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="button-wrapper">
        <a th:href="@{/mis_quejas}"><button class="btn btn-danger mt-2 mb-5 text-center" type="button">Nueva queja</button></a>
    </div>
    <br>
    <br>
    <br>
</div>


<footer class="footer" th:replace="layout/layout :: footer"></footer>
</body>
</html>
