<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>



<main class="container mt-3">
    <h2 class="text-center mb-4">Protege lo que más te importa</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
				<img th:src="@{images/auto.png}" class="card-img-top" alt="Seguro de auto">                
				<div class="card-body row">
                <h5 class="card-title text-center">Seguro de auto</h5>
                <p class="card-text">Protege tu vehículo contra accidentes, robos y otros daños.</p>
                <a th:href="@{/paso_uno}" class="btn btn-secondary align-items: center">Cotizar</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <img th:src="@{images/casa.png}" class="card-img-top" alt="Seguro de hogar">
                <div class="card-body row">
                    <h5 class="card-title text-center">Seguro de hogar</h5>
                    <p class="card-text">Protege tu casa y tus pertenencias contra incendios, robos y otros daños.</p>
                    <a th:href="@{/paso_uno_inmu}" class="btn btn-secondary align-items: center">Cotizar</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <img th:src="@{images/persona1.png}" class="card-img-top mt-1" alt="Seguro de vida">
                <div class="card-body row">
                    <h5 class="card-title text-center">Seguro de vida</h5>
                    <p class="card-text">Protege tu familia en caso de fallecimiento o invalidez.</p>
                    <a th:href="@{/paso_uno_vida}" class="btn btn-secondary align-items: center">Cotizar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
    <h2 >¿Por qué elegir VIVIR Seguros?</h2>
        <div class="col-md-6">
            
            <ul >
                <li class="my-2">Amplia cobertura de seguros.</li>
                <li class="mb-2">Precios competitivos.</li>
                <li class="mb-2">Atención al cliente de primer nivel.</li>
                <li class="mb-2">Sin pagos iniciales.</li>
                <li class="mb-2">Facilidad para realizar pagos.</li>
            </ul>
        </div>
    </div>
    <div class="mb-2 mt-2">
    <h2 class="text-center">¿Qué hacer en caso de siniestro vehicular?</h2>
	<div class="d-flex justify-content-center">
            <img th:src="@{images/auto.png}" class="img-fluid" alt="Seguro de auto">
        </div>   
    <div class="container mt-3">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Robo / Hurto / Incendio / Destrucción total
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body collapse-text">
                        1. Realizá la denuncia policial en la comisaría correspondiente al lugar del hecho. 
                        Deben figurar todos los datos correctos de la unidad, coincidiendo con los de la cédula o título: Nº DE DOMINIO/ MOTOR/CHASIS o CUADRO.<br>
                        2. Tenés un plazo de 3 días para hacernos la denuncia de tu siniestro a través de:<br>
	                        -Web de Asegurados de VIVIR Seguros.<br>
	                        -Llamando al 0810-111-1111<br>
                        3. Deberás ADJUNTAR la siguiente documentación:<br>
	                        -Título de propiedad.<br>
	                        -DNI de Titular y cónyuge (si hubiere).<br>
	                        -Denuncia policial.<br>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        ¿Chocaste?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body collapse-text">
                        1. Tenés un plazo de 3 días para hacer la denuncia de tu siniestro.<br>
						2. Intercambiá los datos personales y del seguro con el conductor del otro vehículo que participó en el accidente:<br>
							-DNI y Licencia de conducir del conductor del otro vehículo.<br>
							-Datos del titular del otro vehículo: Nombre y Apellido o Razón Social, DNI o CUIT según corresponda.<br>
							-Marca, modelo, año, patente, motor y chasis/cuadro del otro vehículo.<br>
							-Teléfono de contacto del conductor y del titular de la otra unidad.<br>
						3. Si es posible, obtené los datos de testigos que hayan visto el accidente: Nombre y Apellido, DNI y teléfono de contacto. Tomá nota y saca fotos de todos los daños propios y del otro vehículo.<br>
						4. Podés ingresar la Denuncia de Siniestros a través de los siguientes canales:<br>
							-Web de Asegurados de VIVIR Seguros.<br>
							-A través de tu Productor Asesor de Seguros.<br>
							-Por email a denuncias@vivirseguros.com.ar. En el asunto deberás colocar: DNI, nombre y apellido; y “DENUNCIA DE ACCIDENTE DE TRÁNSITO”.<br>
						
						También podés completar el formulario de Denuncia de Accidentes.<br>
						
						Si tu póliza es Black, llamá al 0810-111-1111 desde cualquier parte del país, para realizar tu denuncia.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Daños parciales
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body collapse-text ">
                        Tenés un plazo de 3 días para hacer la denuncia de tu siniestro a través de los siguientes canales:<br>

						-Web de Asegurados de VIVIR Seguros<br>
						-Llamando de lunes a viernes de 9 a 19 horas al 0810-111-1111<br>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Reclamo de terceros
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body collapse-text">
                        La documentación que se te pide para iniciar el reclamo es:<br>

							-Denuncia administrativa de tu compañía de seguros.<br>
							-Certificado de cobertura.<br>
							-Cédula Verde o Título de Propiedad del Automotor.<br>
							-Registro de Conducir vigente al momento del siniestro.<br>
							-Presupuesto de reparación (el mismo deberá incluir el detalle del daño y el valor).<br>
							-Fotos del vehículo donde consten claramente la patente de la unidad y los daños reclamados.<br>
							-DNI del titular del vehículo.<br>
							
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Accidente con lesiones
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body collapse-text">
                        1. Tenés un plazo de 3 días para hacer la denuncia de tu siniestro.<br>
						2. Intercambiá los datos personales y del seguro con el conductor del otro vehículo que participó en el accidente:<br>
							-DNI y Licencia de conducir del conductor del otro vehículo.<br>
							-Datos del titular del otro vehículo: Nombre y Apellido o Razón Social, DNI o CUIT según corresponda.<br>
							-Marca, modelo, año, patente, motor y chasis/cuadro del otro vehículo.<br>
							-Teléfono de contacto del conductor y del titular de la otra unidad.<br>
						3. Si es posible, obtené los datos de testigos que hayan visto el accidente: Nombre y Apellido, DNI y teléfono de contacto. Tomá nota y saca fotos de todos los daños propios y del otro vehículo.<br>
						4. Podés ingresar la Denuncia de Siniestros a través de los siguientes canales:<br>
							-Web de Asegurados de VIVIR Seguros<br>
							-A través de tu Productor Asesor de Seguros.<br>
							-Por email a denuncias@vivirseguros.com.ar. En el asunto deberás colocar: DNI, nombre y apellido; y “DENUNCIA DE ACCIDENTE DE TRÁNSITO”.<br>
						
						También podés completar el formulario de Denuncia de Accidentes.<br>
						
						Si tu póliza es Black, llamá al 0810-111-1111 desde cualquier parte del país, para realizar tu denuncia.
                    </div>
                </div>
            </div>
            <div class="accordion-item mb-3">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Cristales, cerraduras y ruedas
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body collapse-text">
                        Tenés un plazo de 3 días para hacer la denuncia de tu siniestro a través de los siguientes canales:<br>

							-Web de Asegurados de VIVIR Seguros.<br>
							-Llamando de lunes a viernes de 9 a 19 horas al 0810-111-1111
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
</main>
	<footer th:replace="layout/layout :: footer">

    </footer>
    
</body>
