<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>



<main class="container mt-3">
    <h1 class="text-center mb-4">Protege lo que más te importa</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
				<img th:src="@{images/auto.png}" class="card-img-top" alt="Seguro de auto">                
				<div class="card-body row">
                <h5 class="card-title text-center">Seguro de auto</h5>
                <p class="card-text">Protege tu vehículo contra accidentes, robos y otros daños.</p>
                <a th:href="@{/paso_uno}" class="btn btn-secondary align-items: center">Cotizar</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <img th:src="@{images/casa.png}" class="card-img-top" alt="Seguro de hogar">
                <div class="card-body row">
                    <h5 class="card-title text-center">Seguro de hogar</h5>
                    <p class="card-text">Protege tu casa y tus pertenencias contra incendios, robos y otros daños.</p>
                    <a th:href="@{/paso_uno_inmu}" class="btn btn-secondary align-items: center">Cotizar</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <img th:src="@{images/persona1.png}" class="card-img-top mt-1" alt="Seguro de vida">
                <div class="card-body row">
                    <h5 class="card-title text-center">Seguro de vida</h5>
                    <p class="card-text">Protege tu familia en caso de fallecimiento o invalidez.</p>
                    <a th:href="@{/paso_uno_vida}" class="btn btn-secondary align-items: center">Cotizar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
    <h2 >¿Por qué elegir VIVIR Seguros?</h2>
        <div class="col-md-6">
            
            <ul >
                <li class="my-2">Amplia cobertura de seguros.</li>
                <li class="mb-2">Precios competitivos.</li>
                <li class="mb-2">Atención al cliente de primer nivel.</li>
                <li class="mb-2">Sin pagos iniciales.</li>
                <li class="mb-2">Facilidad para realizar pagos.</li>
            </ul>
        </div>
    </div>
    <div class="my-3">
    <h2 class="text-center">¿Qué hacer en caso de siniestro vehicular?</h2>
    <div class="container mt-3">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Robo / Hurto / Incendio / Destrucción total
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body collapse-text">
                        Realizá la denuncia policial en la comisaría correspondiente al lugar del hecho.
                        Deben figurar todos los datos correctos de la unidad, coincidiendo con los de la cédula o título: Nº DE DOMINIO/ MOTOR/CHASIS o CUADRO.
                        Tenés un plazo de 3 días para hacernos la denuncia de tu siniestro A TRAVÉS DE:
                        nuestra APP
                        nuestra Web
                        llamando al 0810-345-0492
                        Deberás ADJUNTAR la siguiente documentación:
                        Título de propiedad.
                        DNI de Titular y cónyuge (si hubiere).
                        Denuncia policial.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        ¿Chocaste?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body collapse-text">
                        <!-- Texto adicional para "¿Chocaste?" -->
                        Instrucciones sobre qué hacer en caso de choque.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Daños parciales
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body collapse-text ">
                        <!-- Texto adicional para "Daños parciales" -->
                        Información sobre daños parciales.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Daños de terceros
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body collapse-text">
                        <!-- Texto adicional para "Daños de terceros" -->
                        Información sobre daños de terceros.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Accidente con lesiones
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body collapse-text">
                        <!-- Texto adicional para "accidente con lesiones" -->
                        Información sobre accidente con lesiones
                    </div>
                </div>
            </div>
            <div class="accordion-item mb-3">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Cristales, cerraduras y ruedas
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body collapse-text">
                        <!-- Texto adicional para "Cristales, cerraduras y ruedass" -->
                        Información sobre Cristales, cerraduras y ruedas
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
</main>
	<footer th:replace="layout/layout :: footer">

    </footer>
    
</body>
