<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container-sm">
    <h2>Iniciar Sesión</h2>
    <form th:action="@{/validar-login}" th:object="${customer}" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
            <input type="email" th:field="*{email}" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Nunca compartiremos tu correo electrónico con nadie más.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" th:field="*{password}" class="form-control" id="exampleInputPassword1">
        </div>
        <!--        <div class="mb-3 form-check">-->
        <!--            <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
        <!--            <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
        <!--        </div>-->
        <button type="submit" class="btn btn-secondary">Iniciar sesión</button>
    </form>
</div>


<span th:if="${error != null}" class="alert alert-danger" th:text="${error}"></span>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>