<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Iniciar Sesión</h1>
    <form action="#">
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario" placeholder="Ingrese su nombre de usuario">
        <br>
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" placeholder="Ingrese su contraseña">
        <br>
        <button type="submit">Iniciar Sesión</button>
    </form>
</div>
</body>
</html>