<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>

	<div class="my-2">
      <h2 class="text-center">Mis pagos</h2>
    </div>
    
   	<div th:if="${payments.size() == 0}" class="alert alert-info text-center justify-content-center" role="alert">
   	<span>No hay pagos registrados</span>
	</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 mb-4" th:each="payment: ${payments}">
            <div class="card h-100" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center" th:text="'Pago '"></h5>
                    <p class="alert alert-info card-text" th:text="'Número de póliza: ' + ${payment.id}"></p>
                    <p class="alert alert-info card-text" th:text="'Fecha: ' + ${#dates.format(payment.date, 'dd-MM-yyyy')}"></p>
                    <p class="alert alert-info card-text" th:text="'Monto: ' + ${payment.amount}"></p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="button-wrapper">
 <button type="button" class="btn btn-secondary" onclick="history.back()">Volver</button>
</div>

	
<br>
<br>
<footer class="footer" th:replace="layout/layout :: footer"></footer>
</body>
</html>

