<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container">
    <div class="d-flex flex-column">

        <h2 class=" text-center my-2">Cotización vehiculo</h2>

        <form th:action="@{/guardar_paso_tres}" th:object="${almacenar}" method="get">
            <div class="d-flex flex-column my-2">
<!--                <div hidden="hidden">-->
<!--                    <input class="form-control" type="text" th:field="*{nombre}" th:value="${almacenar.getNombre()}" id="nombre" name="nombre" readonly><br>-->
<!--                </div>-->

                <div >
                    <label class="form-label" for="nombre"> Usted selecciono la Marca </label>
                    <input class="form-control" type="text" th:field="*{nombre}" th:value="${almacenar.getNombre()}" id="nombre" name="modelo" readonly><br>
                </div>
                <div >
                    <label class="form-label" for="modelo"> Usted selecciono el Modelo :</label>
                    <input class="form-control" type="text" th:field="*{modelo}" th:value="${almacenar.getModelo()}" id="modelo" name="modelo" readonly><br>
                </div>
                <div>
                    <label class="form-label" for="select1">Seleccione el año:</label>
                    <select class="form-select" id="select1" name="name" th:field="*{anio}">
                        <option value=""  selected="selected" disabled="disabled"> Seleccione el año</option>
                        <option th:each="year:${years}"
                                th:value="${year}"
                                th:text="${year}"></option>
                    </select>
                    <br>
                </div>
                <div>
                    <label class="form-label" for="select1">Seleccione la cobertura:</label>
                    <select class="form-select" id="tipo_cobertura" name="cobertura" th:field="*{type}">
                        <option value="" selected="selected">--Seleccione la cobertura--</option>
                        <option value="1">TODO RIESGO</option>
                        <option value="2">TERCEROS COMPLETO</option>
                        <option value="3">TERCEROS COMPLETO CON GRANIZO</option>
                    </select>
                    <br>
                </div>
                <div class=col-md-12>
                
                <button type="submit" class="btn btn-secondary col-auto">Cotizar</button>
                <button type="button" class="btn btn-secondary col-auto" onclick="history.back()">Volver</button>
            	</div>
             
            </div>
        </form>
            <form th:action="@{/paso_uno}" th:object="${almacenar}" method="get">
                

        </form>
        <span th:if="${error != null}" class="alert alert-danger" th:text="${error}"></span>
    </div>
</div>


<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>