<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container">
    <div class="d-flex flex-column">

        <h2 class=" text-center my-2">Cotización</h2>

        <form th:action="@{/guardar_paso_uno}" th:object="${almacenar}" method="get">
            <div class="d-flex flex-column gap-1">
                <div>
                    <label class="form-label" for="select1" >Seleccione el Marca:</label>
                    <select class="form-select" id="select1" name="name" th:field="*{nombre}">
                        <option value=""  selected="selected" disabled="disabled"> Seleccione la marca</option>
                        <option th:each="marca:${names}"
                                th:value="${marca}"
                                th:text="${marca}"></option>
                    </select>
                    <br>
                </div>
				<div class="col-md-12">
	                <button type="submit"  class="btn btn-secondary col-auto">Siguiente</button>
					<button type="button" class="btn btn-secondary col-auto" onclick="history.back()">Volver</button>            
            	</div>
            </div>
        </form>
        <span th:if="${error != null}" class="alert alert-danger" th:text="${error}"></span>
    </div>
</div>


<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>