<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container">
    <div class="d-flex flex-column">

        <h2>Cotización</h2>

        <form th:action="@{/guardar_paso_uno_inmu}" th:object="${almacenar}" method="get">
            <div class="d-flex flex-column gap-3">
                <div>
                    <label class="form-label" for="select1" >Seleccione la Provincia:</label>
                    <select class="form-select" id="select1" name="provincias" th:field="*{provincia}">
                        <option value=""  selected="selected" disabled="disabled"> Seleccione la marca</option>
                        <option th:each="provincia:${provincias}"
                                th:value="${provincia}"
                                th:text="${provincia}"></option>
                    </select>
                    <br>
                </div>

                <button type="submit"  class="btn btn-primary">Siguiente</button>
            </div>
        </form>
        <span th:if="${error != null}" class="alert alert-danger" th:text="${error}"></span>
    </div>
</div>


<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>