
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>

<body>
<header th:replace="layout/layout :: header"></header>

<div class="container-wrapper">
        <div class="content">
            <div class="container mt-3">
                <h2 class="text-center my-3">Mi póliza</h2>
                <div class="row justify-content-center">
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
								<div th:if="${policy.insurance.toString()=='HOGAR'}"><img th:src="@{/images/casa.png}"
                                                                              class="card-img-top mt-1"
                                                                              alt="Seguro de casa"></div>
                    			<div th:if="${policy.insurance.toString()=='AUTOMOTOR'}"><img th:src="@{/images/auto.png}"
                                                                                  class="card-img-top mt-1"
                                                                                  alt="Seguro de auto"></div>
                    			<div th:if="${policy.insurance.toString()=='PERSONA'}"><img th:src="@{/images/persona.png}"
                                                                                class="card-img-top mt-1"
                                                                                alt="Seguro personal"></div>
                                <h5 class="card-title text-center bold-text" th:text="'Vencimiento: ' + ${#dates.format(policy.expiration, 'dd-MM-yyyy')}"></h5>
                                
                                <p class="card-title text-center" th:text="'Cobertura Póliza: ' + ${policy.coverage}"></p>
                                <div class="row">
                                    
                                    <div class="card-text">
                                        <a class="text-decoration-none w-100" th:href="@{/pagar/} + ${policy.id}">
                                            <button type="button" class="btn btn-secondary w-100 text-center">Pagar</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-wrapper1">
                <button type="button" class="btn btn-secondary" onclick="history.back()">Volver</button>
            </div>
        </div>
        <footer class="footer" th:replace="layout/layout :: footer"></footer>
    </div>
</body>

</html>


