<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container">
    <div class="d-flex flex-column">

        <h2 class="text-center">Cotización persona</h2>

        <form th:action="@{/crear_poliza_vida}" th:object="${almacenar}" method="post">
            <div class="d-flex flex-column gap-2">
                <div>
                    <label class="form-label" for="oficio"> Usted selecciono el oficio :</label>
                    <input class="form-control" type="text" th:field="*{oficio}" th:value="${almacenar.getOficio()}" id="oficio" name="oficio" readonly><br>
                </div>
                <div >
                    <label class="form-label" for="anio"> Usted selecciono el Año :</label>
                    <input class="form-control" type="text" th:field="*{anio}" th:value="${almacenar.getAnio()}" id="anio" name="anio" readonly><br>
                </div>

                    <div >
                        <label class="form-label" for="Precio"> El precio de su Poliza es :</label>
                        <input class="form-control" type="text" th:field="*{precio}" th:value="${almacenar.getPrecio()}" id="precio" name="precio" readonly><br>
                    </div>
                <div>
                    <label class="form-label" for="cotizacion"> El precio de su cuota por mes seria :</label>
                    <input class="form-control" type="text" th:field="*{cotizacion}" th:value="${almacenar.getCotizacion()}" id="cotizacion" name="cotizacion" readonly><br>
                </div>
				<div class="col-md-12">
		    		<button type="submit" class="btn btn-secondary col-auto" id="boton_crear_poliza_vida" onclick="spiner()">Crear Poliza</button>
					<button type="button" class="ms-2 btn btn-secondary col-auto" onclick="history.back()">Volver</button>
				</div>
  
            </div>
        </form>

        <span th:if="${error != null}" class="alert alert-danger" th:text="${error}"></span>
    </div>
</div>

<script type="text/javascript">

function spiner() {
    const button = document.getElementById('boton_crear_poliza_vida');
    button.innerHTML = '<span id="spinner-box" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Procesando...';
    button.onclick = null; // Desactiva la función onclick
    button.style.pointerEvents = 'none'; // Desactiva la interacción con el botón
}



</script>



<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>