<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container">
    <div class="d-flex flex-column">

        <h1 class="text-center">Cotización persona</h1>

        <form th:action="@{/crear_poliza_vida}" th:object="${almacenar}" method="post">
            <div class="d-flex flex-column gap-3">
                <!--                <div hidden="hidden">-->
                <!--                    <input class="form-control" type="text" th:field="*{nombre}" th:value="${almacenar.getNombre()}" id="nombre" name="nombre" readonly><br>-->
                <!--                </div>-->

                <div>
                    <label class="form-label" for="oficio"> Usted selecciono el oficio :</label>
                    <input class="form-control" type="text" th:field="*{oficio}" th:value="${almacenar.getOficio()}" id="oficio" name="oficio" readonly><br>
                </div>
                <div >
                    <label class="form-label" for="anio"> Usted selecciono el Año :</label>
                    <input class="form-control" type="text" th:field="*{anio}" th:value="${almacenar.getAnio()}" id="anio" name="anio" readonly><br>
                </div>

                    <div >
                        <label class="form-label" for="Precio"> El precio de su Poliza es :</label>
                        <input class="form-control" type="text" th:field="*{precio}" th:value="${almacenar.getPrecio()}" id="precio" name="precio" readonly><br>
                    </div>
                <div>
                    <label class="form-label" for="cotizacion"> El precio de su cuota por mes seria :</label>
                    <input class="form-control" type="text" th:field="*{cotizacion}" th:value="${almacenar.getCotizacion()}" id="cotizacion" name="cotizacion" readonly><br>
                </div>



                <button type="submit" class="btn btn-secondary">Crear Poliza</button>
            </div>
        </form>
        <form th:action="@{/paso_uno_vida}" th:object="${almacenar}" method="get">
            <button type="submit" class="btn btn-secondary">Volver</button>

        </form>
        <span th:if="${error != null}" class="alert alert-danger" th:text="${error}"></span>
    </div>
</div>


<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>