<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container">
    <div class="d-flex flex-column">

        <h2 class="my-3 text-center">Cotización vehiculo</h2>

        <form th:action="@{/crear_poliza}" th:object="${almacenar}" method="post">
            <div class="d-flex flex-column gap-2">
                <!--                <div hidden="hidden">-->
                <!--                    <input class="form-control" type="text" th:field="*{nombre}" th:value="${almacenar.getNombre()}" id="nombre" name="nombre" readonly><br>-->
                <!--                </div>-->

                <div>
                    <label class="form-label" for="nombre"> Usted selecciono la Marca :</label>
                    <input class="form-control" type="text" th:field="*{nombre}" th:value="${almacenar.getNombre()}"
                           id="nombre" name="modelo" readonly><br>
                </div>
                <div>
                    <label class="form-label" for="modelo"> Usted selecciono el Modelo :</label>
                    <input class="form-control" type="text" th:field="*{modelo}" th:value="${almacenar.getModelo()}"
                           id="modelo" name="modelo" readonly><br>
                </div>

                <div>
                    <label class="form-label" for="anio"> Usted selecciono el Año :</label>
                    <input class="form-control" type="text" th:field="*{anio}" th:value="${almacenar.getAnio()}"
                           id="anio" name="anio" readonly><br>
                </div>
                <div>
                    <label class="form-label" for="Precio"> El precio de su vehiculo es :</label>
                    <input class="form-control" type="text" th:field="*{precio}" th:value="${almacenar.getPrecio()}"
                           id="precio" name="precio" readonly><br>
                </div>
                <div>
                    <label class="form-label" for="cotizacion"> El precio de su cuota por mes seria :</label>
                    <input class="form-control" type="text" th:field="*{cotizacion}"
                           th:value="${almacenar.getCotizacion()}" id="cotizacion" name="cotizacion" readonly><br>
                </div>
                <div>
                    <label class="form-label" for="type"> Selecciono la cobertura :</label>
                    <input class="form-control" type="text" th:field="*{type}" th:value="${almacenar.type}" id="type"
                           name="type" readonly><br>
                </div>
                <div class=col-md-12>
	                <button type="submit" class="btn btn-secondary col-auto" id="boton_crear_poliza_auto">Crear póliza</button>
	                <button type="button" class="btn btn-secondary col-auto" onclick="history.back()">Volver</button>
            	</div>
            </div>
        </form>
        <form th:action="@{/paso_uno}" th:object="${almacenar}" method="get">


        </form>
        <span th:if="${error != null}" class="alert alert-danger" th:text="${error}"></span>
    </div>
</div>


<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>