<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div th:if="${notUser != null}" class="alert alert-danger text-center">
    <span th:text="${notUser}"></span>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">Fecha</th>
        <th scope="col" class="text-center">Nombre</th>
        <th scope="col" class="text-center">Estado</th>

    </tr>
    </thead>
    <tbody>
    <tr class="text-center" th:each="complaint : ${complaints}">
        <th class="text-center" scope="row" th:text="${complaint.id}"></th>
        <td class="text-center" th:text="${complaint.date}"></td>
        <td class="text-center" th:text="${complaint.customer.name}"></td>
        <td class="text-center" th:text="${complaint.status}"></td>
        <td><a th:href="@{/quejas/} + ${complaint.id}"><button type="button" class="btn btn-xs btn-secondary">Ver</button></a></td>
    </tr>
    </tbody>
</table>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>